# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB (Preview) and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

#GENERAL CREDENTIALS#

PORT=3000
AUTH_SECRET=e5a1496467149e9cb42ca74d23bd495e

#MAILGUN CREDENTIALS#

SMPT_USER=
SMPT_PASSWORD=

#DEVELOPMENT CREDENTIALS#

API_URL= http://localhost:3300

DATABASE_URL="postgresql://postgres:#abc123#@localhost:5432/ponto_api"

#PRODUCTION CREDENTIALS#

#API_URL=

# DATABASE_URL="postgresql://postgres:#abc123#@localhost:5432/ponto_api"

